:root {
    --padding: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    /* height: 100%; */
}

.container {
    display: flex;
    height: 100vh;
}

#background {
    width: 30%;
    height: 100%;
    height: inherit;
    position: absolute;
    object-fit: cover;
    /* visibility: hidden; */
}

.credits {
    position: absolute;
    bottom: 2%;
    left: 5%;
    color: white;
    width: 23vw;
    /* border: 2px solid red; */
}

a {
    color: bisque;
}

.left {
    display: flex;
    width: 30vw;
    height: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    background-color:azure;
    height: 100%;
    width: 70vw;
}

.logo {
    width: 50%;
    height: 50%;
    margin-bottom: 2em;
}

section {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 7px 3px 5px rgb(161, 205, 241), 7px -3px 5px rgb(161, 205, 241);
    padding: 2em;
    text-wrap: nowrap;
}

.start, .login {
    color: blue;
    text-decoration: none;
}

.desc, .register {
    padding: var(--padding);
}


button[type="submit"] {
    width: 20%;
    padding: 1.5vw;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    border-radius: 7px;
    font-size: 1rem;
}

label {
    color:rgb(80, 80, 80);
    font-weight: bold;
    font-size: 0.9em;
}

input:focus{
    border: 2px solid blue;
}

.start, .desc {
    font-size: 1.3em;
}

.row {
    display: flex;
    gap: 5em;
}

label {
    margin-right: 0.5em;
}

button[type="submit"]:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
}

.login:hover {
    transform: scale(1.1);
    color: orange;
}

.form p {
    margin-top: 0;
}

input:valid {
    border: 2px solid green;
}

input:invalid  {
    border: 2px solid red;
}

input {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: fit-content;
}

.form input {
    width: 100%;
}