:root {
    --padding: 2em;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

#background {
    width: 30%;
    height: 100%;
    position: absolute;
    /* visibility: hidden; */
}

.credits {
    position: absolute;
    bottom: 2%;
    left: 5%;
    color: white;
}

a {
    color: bisque;
}

.left {
    display: flex;
    width: 30%;
    height: 100%;
}
.right {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color:azure;
    height: 100%;
    width: 70%;
}

.logo {
    width: 50%;
    height: 50%;
    margin-bottom: 2em;
}

section {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 7px 3px 5px rgb(161, 205, 241), 7px -3px 5px rgb(161, 205, 241);
    padding: 2em;
}

.start, .login {
    color: blue;
    text-decoration: none;
}

.desc, .register {
    padding: var(--padding);
}


button[type="submit"] {
    width: 20%;
    padding: 1em;
    color: blue;
    background-color: white;
    border: 2px solid blue;
    border-radius: 7px;
    font-size: 1.1em;
}

label {
    color:rgb(80, 80, 80);
    font-weight: bold;
    font-size: 0.9em;
}

input:focus, input:active {
    border: 2px solid blue;
}

.start, .desc {
    font-size: 1.3em;
}

.row {
    display: flex;
    gap: 5em;
}

label {
    margin-right: 0.5em;
}

button[type="submit"]:hover {
    background-color: blue;
    cursor: pointer;
    color: white;
}

.login:hover {
    transform: scale(1.1);
    color: orange;
}

.form p {
    margin-top: 0;
}